body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
}
#container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0px 0px 5px 0px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
#gridspace {
    margin: 0px;
    display: grid;
    flex-wrap: wrap;
    border: 1px solid rgb(44, 41, 231);   
}
#reset {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    height: 50px;
    width: 150px;
    background-color: #ce5109;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#reset:hover {
    background-color: #a05907;
}
